<h1>{{ 'Utilisateur' | plural:nbSelected }}</h1>
<app-user-form (onSubmit)="createUser($event)"></app-user-form>

<h2>Liste des utilisateurs</h2>

<app-search [username]="username" (onSearch)="listenSearch($event)">
</app-search>`

<div class="horizontal">
  <p style="margin: 0%">Nb</p>
  <select [(ngModel)]="nbSelected" style="margin: 1%">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>100</option>
  </select>
  <p style="margin:0%;">Ext</p>
  <select [(ngModel)]="extension" style="margin: 1%">
    <option value="">Tous</option>
    <option *ngFor="let extension of extensions">{{extension}}</option>
  </select>
</div>

<app-user-card *ngFor="let user of users | extension:extension | nb:nbSelected" [user]="user" (onDelete)="deleteUser($event)"/>
