<form (ngSubmit)="login()" >

  <div *ngIf="form.invalid && submitted">
    Formulaire invalide
    <div *ngIf="propEmail.hasError('domain')"><!-- domain définit dans val de retour du validateur -->
      Email en {{propEmail.errors?.['domain']}} uniquement !
    </div>
  </div>

  <label>Email</label>
  <input [formControl]="propEmail">

  <label>Mot de passe</label>
  <input [formControl]="propPassword">

  <button>Se connecter</button>

</form>
