<article>

  <header>
    <h2>Créer un utilisateur</h2>
  </header>

  <form (ngSubmit)="createUser(form)" #form="ngForm">

    <div *ngIf="form.invalid && form.submitted">
      Formulaire invalide
    </div>

    <label [ngClass]="{red:form.invalid, green:form.valid}">Email</label>
    <input name="email" ngModel #email="ngModel" required type="email">

    <label [ngClass]="{red:form.invalid, green:form.valid}">Username</label>
    <input name="username" ngModel #username="ngModel" required>

    <footer>
      <button [disabled]="form.invalid">Ajouter</button> <!--[ariaBusy]="loading"-->
    </footer>
  </form>
</article>
