<form (ngSubmit)="updateUser()" [formGroup]="form">
  <h1>{{ user.username }}</h1>

  <label>username</label>
  <input [formControl]="username">

  <label>mail</label>
  <input formControlName="email"><!-- plus rapide-->

  <button>Modifier</button>
</form>
